body {
    margin: 0;
    padding: 0;
    background-image: url('../img/background.jpg');
    color: #fff;
    font: 20px Verdana;
    font-weight: bold;
    text-transform: uppercase;

}
#game_board{
    width:540px;
    height:540px;
    padding:24px;
    margin:0 auto;
}
#game_board > div{
    background: url('../img/ball.png') no-repeat;
    background-position: center;
    background-size: 100%;
    border:#000 1px solid;
    border-radius: 10px;
    width:71px;
    height:71px;
    float:left;
    margin:10px;
    padding:20px;
    font-size:64px;
    cursor:pointer;
    text-align:center;
}

#game_board > div:hover {
    opacity: 0.8;
}

#gameButtons {
    display: block;
    margin: 20px;
    text-align: center;
}

button#myBtn {
    color: #fff;
    font: 20px Verdana;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #11aaff;
    border: 1px solid #11aaff;
    border-radius: 10px;
    position: relative;
    margin: 20px auto;
    width: 200px;
    height: 32px;

}

#gameButtons .button  {
    cursor: default;
    background: #11aaff;
    border-radius: 10px;
    /*cursor: pointer;*/
    padding: 5px 10px;
    margin: 5px;
}


#gameButtons .btn-start, button#myBtn{
    cursor: pointer;
}


#gameButtons .button:hover, button#myBtn:hover {
    background: #0055ff;
}
button#myBtn:hover {
    border: 1px solid #0055ff;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #0055ff;
    color: #fff;
    margin: 0 auto;
}

.modal-body {
    padding: 2px 16px;
}
.modal-body p {
    color: #0055ff;
}
.modal-footer {
    padding: 2px 16px;
    background-color: #0055ff;
    color: #11aaff;
}